h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

input {
  border-radius: 5px;
  width: 100%;
}

button {
  border-radius: 10px;
}

.input-div {
  margin: auto;
  width: 50%;
  max-width: 300px;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
